<! DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="index.css"/>
  <script src="node_modules/chart.js/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="index.js"></script>
</head>
<body style="background-color: lightgray">
<header style="border: black" class="w3-display-container w3-content w3-center">
  <div style="border: black" class="w3-padding-large w3-wide w3-center">
    <h1 style="border: black" class="w3-hide-medium w3-hide-small w3-xxxlarge">Welcome</h1>
  </div>
</header>


</br>
</br>


<main class="w3-center">
  <p>Please chose a file to view.</p>
  <form action="upload.php" method="post" enctype="multipart/form-data">
    <input type="file" name="fileToUpload" id="fileToUpload">
    </br>
    </br>
    <input type="submit" value="View file" name="submit" style="border: black" class="w3-button">
  </form>
</main>


</br>
</br>


<footer style="clear: both" class="w3-center w3-border">
  <p>&copy; Robert Alexander Dankertsen, Mathias Nilsen &amp; Maria Pedersen</p>
</footer>
</body>


