<! DOCTYPE html>
<html lang="en">
<body>
    <header>
        <h1>Welcome</h1>
    </header>


    </br>
    </br>


    <main>
        <p>Please chose a file to view.</p>
        <form action="upload.php" method="post" enctype="multipart/form-data">
            <input type="file" name="fileToUpload" id="fileToUpload">
            </br>
            </br>
            <input type="submit" value="View file" name="submit">
        </form>
    </main>


    </br>
    </br>


    <footer>
        <p>&copy; Robert Alexander Dankertsen, Mathias Nilsen &amp; Maria Pedersen</p>
    </footer>
</body>


